
@media only screen and (max-width:1240px){
 html{
    font-size: 16px;
      }
      .heading-main-box{
          transform: translate(-40%,-50%);
      }
     
      .main-nav{
        margin-top: 5px;
    }
    .logo{
        width: 300px;
    }
    .products-box h3{
        font-size: 90%;
    }
    .products-box li{
        font-size: 85%;
        margin-left: 5px;
        line-height: 35px;
    }
    .products-box .btn{
        position: relative;
        top: 10%;
        left: 30%;
    }
    .products-price{
        font-size: 200%;
    }
    form{
        margin-left: 22%;
    }
}
@media only screen and (max-width:1100px){
    .logo{
        width: 300px;
    }
    .main-nav{
        margin-top: 5px;
    }
    .main-nav li{
        margin-right: 15px;
    }
    .products-box h3{
        font-size: 80%;
    }
    .products-box li{
        font-size: 80%;
        margin-left: 5px;
        line-height: 35px;
    }
    .products-box .btn{
        position: relative;
        top: 10%;
        left: 25%;
    }
    form{
        margin-left: 18%;
    }
    .icon-social li i{
        float: left;
        margin-left: 20px;
        color: #fff;
        font-size: 150%;
        padding-bottom: 30px;
        line-height: 35px;
    }
}
@media only screen and (max-width:1023px){
    .heading-main-box{
        font-size: 70%;
        transform: translate(-30%,-50%);
    }
    .html{
        font-size: 10px;
    }
    .logo{
        width: 230px;
        padding: 0px;
    }
    .main-nav{
        margin-top: 5px;
    }
    .main-nav li{
        margin-right: 5px;
    }
    .col{
        width: 100%;
    }
}
@media only screen and (max-width:720px){
    .col{
        width: 100%;
    }
}
@media only screen and (max-width:480px){
    .col{
        width: 100%;
    }
}